@CHARSET "UTF-8";

body, h1, h2, h3, h4, h5, h6, p, ul {
	font-size: 1.0em;
	margin: 0;
	padding: 0;
}

body {
	font: 0.69em Arial, Helvetica, sans-serif;
	color: #000;
	margin: 10px 5%;
}

a img {
	border: 0;
}

div.guide div.channel {
	width: 20%;
	float: left;
	margin-right: 10px;
}

div.guide div.header {
	text-align: center;
	margin-bottom: 5px;
}

div.guide div.header h2 {
	font-size: 1.27em;
	font-weight: bold;
}

div.guide div.program {
	cursor: pointer;
	position: relative;
	padding: 3px;
}

div.guide div.program.active {
	background: #C9E1F5;
	border: 1px solid #6B6FBF;
	padding: 2px;
}

div.guide div.program div.data {
	overflow: auto;
}

div.guide div.program div.left {
	float: left;
	width: 27%;
}

div.guide div.program div.right {
	float: right;
	width: 73%;
}

div.guide div.program h3 {
	font-size: 1.09m;
	font-weight: bold;
}

div.guide div.program div.onhover {
	display: none;
}

div.guide div.program:hover div.onhover {
	display: block;
}

div.guide div.program:hover span.onhover {
	display: inline;
}

div.guide div.program div.flyout {
	display: none;
}

div.guide div.program.active div.flyout {
	display: block;
}

div.guide div.program div.description {
	background: #fff;
	padding: 2px;
	margin: 2px;
}

div.hidden {
	display: none;
}

div.actions ul {
	display: block;
	text-align: right;
}

div.actions ul li {
	display: inline-block;
}
