@CHARSET "UTF-8";
@import url(buttons.css);
@import url(dayscrub.css);
body, h1, h2, h3, h4, h5, h6, p, ul {
    font-size: 1.0em;
    margin: 0;
    padding: 0;
}

body {
    font: 0.72em Arial, Helvetica, sans-serif;
    color: #000;
}

.pageContainer {
	margin: 10px 5%;
}

a img {
    border: 0;
}

a {
	color: #2055AE;
}

.topMenu {
	border-bottom: 1px solid #ccc;
	line-height: 1.1em;
	padding: 6px 8px;
}

.topMenu ul#menu {
	display: block;
}

.topMenu ul#menu li {
	display: inline-block;
	margin-right: 10px;
}

.topMenu ul#menu li.current {
	color: #000;
	font-weight: bold;
}

.topMenu div#loginInfo {
	float: right;
}

.topMenu div#loginInfo a {
	display: inline-block;
	padding: 0 5px;
	border-right: 1px solid #000;
}

.topMenu div#loginInfo a.logout {
	border-right: none;
}

.topMenu div#loginInfo a.loginName {
	font-weight: bold;
	color: #000;
	text-decoration: none;
}

#guide div.timefall {
	position: absolute;
    width: 5px;
    background-color: #c3d9ff;
    height: 0px;
	/* float: left; */
}

#guide div.channel {
    width: 24.1%;
    float: left;
    margin-right: 10px;
}

#guide div.header {
    text-align: center;
    margin-bottom: 5px;
}

#guide div.header h2 {
    font-size: 1.27em;
    font-weight: bold;
}

#guide div.program {
    cursor: pointer;
    position: relative;
    padding: 3px;
	margin-left: 8px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
}

#guide div.program.active {
    background: #e0ecff;
    border-top: 1px solid #c3d9ff;
    border-bottom: 1px solid #c3d9ff;
    padding: 2px 3px;
}

#guide div.program div.data {
    overflow: auto;
}

#guide div.program div.left {
    float: left;
    width: 27%;
}

#guide div.program div.right {
    float: right;
    width: 73%;
}

#guide div.program h3 {
    font-size: 1.09em;
    font-weight: bold;
}

#guide div.program.past h3 {
    font-weight: normal;
}

#guide div.program.current h3 {
	/* color: #001F53; */
}

#guide div.program div.onhover {
    display: none;
}

#guide div.program:hover div.onhover {
    display: block;
}

#guide div.program:hover span.onhover {
    display: inline;
}

#guide div.program div.flyout {
    display: none;
}

#guide div.program.active div.flyout {
    display: block;
}

#guide div.program div.description {
    margin: 2px;
    line-height: 1.5em;
    font-size: 0.85em;
}

div.hidden {
    display: none;
}

div.actions {
    text-align: right;
}
