@CHARSET "UTF-8";

body, h1, h2, h3, h4, h5, h6, p, ul {
	font-size: 1.0em;
	margin: 0;
	padding: 0;
}

body {
	font: 0.69em "Lucida Sans Unicode", "Lucida Grande", Arial, Helvetica, sans-serif;
	color: #000;
	margin: 10px 5%;
}

a img {
	border: 0;
}

div.guide div.channel {
	width: 20%;
	float: left;
	margin-right: 10px;
}

div.guide div.header {
	text-align: center;
	margin-bottom: 5px;
}

div.guide div.header h2 {
	font-size: 1.27em;
	font-weight: bold;
}

div.guide div.program {
	position: relative;
	border-left: 5px solid #eee;
	margin-bottom: 5px;
	padding-left: 5px;
}

div.guide div.program div.data {
	overflow: auto;
}

div.guide div.program:hover {
	border-left-color: #bbe;
	cursor: default;
}

div.guide div.program.available {
	border-left-color: #f8febe;
}

div.guide div.program.available:hover {
	border-left-color: #9ba53e; 
}

div.guide div.program.waiting {
	border-left-color: #ffd7bf;
}

div.guide div.program.waiting:hover {
	border-left-color: #a6653e;
}

div.guide div.program div.left {
	float: left;
	width: 27%;
}

div.guide div.program div.right {
	float: right;
	width: 73%;
}

div.guide div.program h3 {
	font-size: 1.09m;
	font-weight: bold;
}

div.guide div.program div.onhover {
	display: none;
}

div.guide div.program:hover div.onhover {
	display: block;
}

div.guide div.program:hover span.onhover {
	display: inline;
}

div.hidden {
	display: none;
}

div.guide div.program div.description {
	display: none;
}

div.guide div.program div.actions {
	position: absolute;
	float: left;
	padding: 2px 5px 2px 12px;
	top: 13px;
	left: -5px;
	z-index: 2;
	background: #bbe;
}

div.actions ul {
	display: block;
	text-align: right;
}

div.actions ul li {
	display: inline-block;
}
