<?xml version="1.0" encoding="utf-8"?>
<config>
	<database>
		<userName>iptv-test</userName>
		<password>iptv-test</password>
		<databaseLocator>jdbc:mysql://localhost:3306/cm_iptv?useUnicode=true&amp;characterEncoding=utf-8</databaseLocator>
		<databaseDriver>com.mysql.jdbc.Driver</databaseDriver>
	</database>
	<recordings>./recordings/</recordings>
</config>