@CHARSET "UTF-8";
@import url(buttons.css);
@import url(dayscrub.css);
body, h1, h2, h3, h4, h5, h6, p, ul {
    font-size: 1.0em;
    margin: 0;
    padding: 0;
}

body {
    font: 0.72em Arial, Helvetica, sans-serif;
    color: #000;
}

.pageContainer {
	margin: 10px 5%;
	overflow: auto;
	width: 90%
}

a img {
    border: 0;
}

a {
	color: #2055AE;
}

.topMenu {
	border-bottom: 1px solid #ccc;
	font-size: 1.1em;
	line-height: 1em;
	padding: 6px 0 5px 8px;
}

.topMenu ul#menu {
	display: block;
}

.topMenu ul#menu li {
	display: inline-block;
	margin-right: 10px;
}

.topMenu ul#menu li.current {
	color: #000;
	font-weight: bold;
}

.topMenu div#loginInfo {
	float: right;
}

.topMenu div#loginInfo a {
	display: inline-block;
	padding: 0 5px;
	border-right: 1px solid #000;
}

.topMenu div#loginInfo a.logout {
	border-right: none;
}

.topMenu div#loginInfo a.loginName {
	font-weight: bold;
	color: #000;
	text-decoration: none;
}

.notifyBox {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
}

.notifyBox .notify {
	display: inline-block;
	color: #000;
	padding: 3px 5px;
	font-weight: bold;
	font-size: 1.1em;
	background-color: #FFF1A8;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}

#guide div.timefall {
	position: absolute;
    width: 5px;
    background-color: #c3d9ff;
    height: 0px;
	/* float: left; */
}

#guide div.channel {
    width: 23.8%;
    float: left;
    margin-right: 10px;
}

#guide.fits3 div.channel {
	width: 32%;
}

#guide.fits2 div.channel {
	width: 48%;
}

#guide div.header {
    text-align: center;
    margin-bottom: 5px;
}

#guide div.header h2 {
    font-size: 1.27em;
    font-weight: bold;
}

#guide div.program {
    cursor: pointer;
    position: relative;
    padding: 3px;
	margin-left: 8px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
}

#guide div.program.active {
    background: #e0ecff;
    border-top: 1px solid #c3d9ff;
    border-bottom: 1px solid #c3d9ff;
    padding: 2px 3px;
}

#guide div.program div.data {
    overflow: auto;
}

#guide div.program div.left {
    float: left;
    width: 20%;
	padding-top: 0.1em;
}

#guide div.program div.right {
    float: right;
    width: 77%;
}

#guide div.program h3 {
    font-size: 1.09em;
    font-weight: bold;
}

#guide div.program.past h3 {
    font-weight: normal;
}

#guide div.program.current h3 {
	/* color: #001F53; */
}

#guide div.program div.onhover {
    display: none;
}

#guide div.program:hover div.onhover {
    display: block;
}

#guide div.program:hover span.onhover {
    display: inline;
}

#guide div.program div.flyout {
    display: none;
}

#guide div.program.active div.flyout {
    display: block;
}

#guide div.program div.description {
    margin: 2px;
    line-height: 1.5em;
    font-size: 0.85em;
}

div.hidden {
    display: none;
}

div.actions {
    text-align: right;
}

.pill.space {
	padding-right: 2px;
}

button.btn img {
	position: relative;
	top: -1px;
	left: -1px;
} 

button.btn.narrow img {
	left: 0;
	margin-left: -2px;
}

.dropMenu {
	position: absolute;
	width: 150px;
	
	background-color: #fff;
	
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #999;
	border-bottom: 1px solid #999;
}

.dropMenu .menuItem {
	line-height: 1.2em;
	padding: 5px 7px;
	cursor: default;
}

.dropMenu .menuItem.default {
	font-weight: bold;	
}

.dropMenu .menuItem:hover {
	background-color: #E0EDFE;
}

.dropMenu .break {
	height: 1px;
	border: none;
	border-top: 1px solid #ccc;
	margin: 1px 2px;
}
