<?xml version="1.0" encoding="utf-8"?>
<config>
	<database>
		<userName>iptv-test</userName>
		<password>iptv-test</password>
		<databaseLocator>jdbc:mysql://localhost:3306/cm_iptv?useUnicode=true&amp;characterEncoding=utf-8</databaseLocator>
		<databaseDriver>com.mysql.jdbc.Driver</databaseDriver>
	</database>
	<xmlTvGrabbers>
		<xmlTvGrabber>
			<commandLine>/home/jstar/epguide-1.2/src/epguide_run -w -c 1,2 -f xmltv -o thisWeek.xml</commandLine>
			<resultFile>thisWeek.xml</resultFile>
			<mapFile>mapping.xml</mapFile>
			<schedule>* * * * *</schedule> <!-- this is crontab-like syntax, for more lookup cron4j -->
		</xmlTvGrabber>
	</xmlTvGrabbers>
</config>